<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="vertical">
        <div class="main-header-content inner">
            <a href="/"><h3 class="page-title">{{@blog.title}}</h3></a>
            <div class="nav-links">
                {{#foreach navigation}}
                    <a class="nav-link" href="{{url absolute="true"}}">{{label}}</a>
                {{/foreach}}
            </div>
        </div>
            
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>